@mixin header-pri($fs , $fw) {
    font-size: $fs;
    font-weight: $fw;
    color: $color-white;
    text-transform: uppercase;
    display: block;
}

@mixin priHeading() {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .13rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    display: inline-block;
    background-clip: text;
    color: transparent;
}

@mixin fea-card() {
    width: 55%;
    border-radius: 2px;
    position: absolute;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    transition: all .2s ease-in-out;
    outline-offset: 1.25rem;
}