<header class="hero-img d-flex justify-content-center align-items-center">
    <div class="header text-center">
        <a href="#" class="header-logo">
            <img src="../../../../assets/images/logo-white.png" class="logo img-fluid" alt="">
        </a>
        <h1 class="header-pri">
            <span class="header-pri-main ">outdoors</span>
            <span class="header-pri-sub ">is where life happens</span>
        </h1>
        <a name="" id="" class="btn btn-light btn-lg text-uppercase header-btn" href="#" role="button">Discover our tours</a>
    </div>
</header>