<div class="feature-info">
    <h3 class="sec-heading">
        you'r going to fall in love with nature
    </h3>
    <p class="pri-para">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus odio illum voluptatum, adipisci cumque
        deleniti vel illo, quo provident perferendis pariatur voluptas, deserunt ratione.
    </p>
    <h3 class="sec-heading">
        you'r going to fall in love with nature
    </h3>
    <p class="pri-para">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus odio illum voluptatum, adipisci cumque
        deleniti vel illo, quo provident perferendis pariatur voluptas, deserunt ratione.
    </p>
    <a class="text-btn" href="javascript :;">
        read more →
    </a>
</div>